@charset "UTF-8";


:root{  /* declarar minhas linguagens globaiscore,  estao organizadas da mais clara ate a mais escura*/
    --cor0: #5F6F52;              /*  #c5ebd6;  */
    --cor1: #A9B388;            /*  #83e1ed;  */
    --cor2: #FEFAE0;              /* #3ddc84;  */
    --cor3: #F9EBC7;               /* #2fa866;  */
    --cor4:  #B99470;             /* #1a5c37; */
    --cor5: #C4661F;       /* #063d1e;  */

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;
    --fonte-android: "Android, cursive"

}

body{
    background-color:;
}


header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor0));   /*colocar o efeito degradee*/
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;   
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.295); 
    
}
 header > p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 590px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    margin-bottom: 0px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.493);

    text-align: justify;

 }

 nav{
    background-color: rgba(24, 23, 23, 0.911);
    padding: 10px;
    box-shadow: 0px 7px 9px rgb(0, 0, 0, 0.419);
 }

 nav > a{
    color: var(--cor3);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;   /* o "none serve pra tirar o sublinhado e todos outros efeitos que tiver*/
    font-weight: bold;
    transition-duration: 0.5s;
 }

 nav>a:hover{
    background-color: var(--cor2);     /* pintar o background a volta da letra quando passar o mouse por cima*/
    color: var(--cor5);       /* pintar as letras quando passar o mouse por cima*/
 }


 main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.419);
    border-radius: 0px 0px 10px 10px; 

    font-weight: bold;
    
}

a{
    color: var(--cor5);
    padding: 0px;
    border-radius: 5px;
    text-decoration: none;
    transition-duration: 0.5s;
    
}

a:hover{
    background-color: var(--cor4);   /* pintar o background a volta da letra quando passar o mouse por cima*/
    color: var(--cor0);      /* pintar as letras quando passar o mouse por cima*/
}

picture img{
    width: 100%;
    margin: auto;
    padding: 0px;
    margin-top: 10px;
    
}



main ul{
    columns: 2;
    list-style-type: none;
    padding: 5px;
}



footer{
    background-color: var(--cor0);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;

}

footer > p > a{        /* footer a{ => fazendo assim tambem da no mesmo*/
    color: white;
    font-weight: bolder;
    text-decoration: none;

}

footer a:hover{
    text-decoration: underline;
    color: var(--cor0);
}
